<?xml version="1.0"?>
<!--
/**
* 4-Tell Product Recommendations
* Copyright © 2015 4-Tell, Inc. All rights reserved.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="FourTell_Recommend::recommend_config" title="4-Tell Boost Settings" sortOrder="100">
                </resource>
            </resource>
        </resources>
    </acl>
</config>