<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <recommend>
            <general_settings>
                <enabled>0</enabled>
                <ssl_required>1</ssl_required>
            </general_settings>
            <display_recommendation>
                <hide_magento_related>1</hide_magento_related>
                <hide_magento_upsell>1</hide_magento_upsell>
                <hide_magento_crosssell>1</hide_magento_crosssell>
                <image_size>200,200</image_size>
                <js_loader>
                  <![CDATA[<!--4-Tell Recommendations Begin (www.4-tell.com)-->
<script type="text/javascript">window._4TellBoost = window._4TellBoost || {};</script>
<script type="text/javascript" async id="loader4Tell" src="//4tellcdn.azureedge.net/sites/loader.js" data-sitealias="{ALIAS}" data-mode="{MODE}"></script>
<!--4-Tell Recommendations End-->]]>
                </js_loader>
            </display_recommendation>
            <advanced_settings>
                <bundleprod>1</bundleprod>
                <groupprod>1</groupprod>
                <out_of_stock_rule>1</out_of_stock_rule>
            </advanced_settings>
        </recommend>
    </default>
</config>