<?xml version="1.0"?>
<!--
/**
* 4-Tell Product Recommendations
* Copyright © 2015 4-Tell, Inc. All rights reserved.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FourTell_Recommend" setup_version="2.1.0.6"/>
</config>   